html{
    background-color: #175676;
}

body{
    display: grid;
    grid-template-columns: 200px 20px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "navbar empty header"
        "navbar empty portfolio"
        "navbar empty skills"
        "navbar empty education"
        "navbar empty work"
        "footer footer footer";
}

nav{
    grid-area: navbar;
    background-color:rgba(255,255,255, 0.300);
}
nav ul{
    position: fixed;
    top:200px;
}
#empty{
    grid-area: empty;
    background-color: transparent;
}
/*header section*/
header{
    grid-area: header;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
}
    #logo{
        display:flex;
        justify-content:center;
        align-items: center;
        background-color: white;
    }
    #logo img{
        width: 300px;
    }
    #short_description{
        display: flex;
        flex-flow: column wrap;
        justify-content:center;
        align-items: center;
        background-color:#21A179;
    }
/*portfolio section*/
#portfolio{
    grid-area: portfolio;
    background-color: pink;
    display: grid;
}
/*skills*/
#skills{
    grid-area: skills;
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "hardskills softskills";
}
    #hardskills{
        grid-area: hardskills;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
            "title title title"
            "html5 . ."
            "css3 bootstrap scss"
            "js react react_native"
            "nodejs expressJs ."
            "python django flask"
            "sql mongoDB .";
    }
    #hardskills img{
        width: 100px;
    }
        #hs_title{
            grid-area: title;
        }
        #html5{
            grid-area: html5;
        }
        #css3{
            grid-area: css3;
        }
            #css3 img{
                width: 50px;
            }
        #bootstrap{
            grid-area: bootstrap;
        }
        #scss{
            grid-area: scss;
        }
        #js{
            grid-area: js;
        }
        #react{
            grid-area: react;
        }
        #react_n{
            grid-area: react_native;
        }
        #node{
            grid-area: nodejs;
        }
        #express{
            grid-area: expressJs;
        }
        #python{
            grid-area: python;
        }
        #django{
            grid-area: django;
        }
        #flask{
            grid-area: flask;
        }
        #sql{
            grid-area: sql;
        }
            #sql img{
                width: 50px;
            }
        #mongodb{
            grid-area: mongoDB;
        }
    .pl_icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #softskills{
        grid-area: softskills;
    }

#education{
    grid-area: education;
    background-color: green;
}

#work_experience{
    grid-area: work;
    background-color: red;
}